.intro {
    background-color: pink;
    width: 100%;
    height: 850px;
    position: absolute;
    top: 820px;
    display: flex;
    flex-direction: column;

    @media (min-width: 500px) {
        //height: 900px;
        top: 900px;
    }

    @media (min-width: 1024px) {
        height: 650px;
        top: 650px;
        flex-direction: row;
    }

    @media (min-width: 1200px) {
        height: 650px;
        top: 700px;
    }

    &__image-wrapper {
        width: 100%;
        height: 420px;
        //background-color: red;

        @media (min-width: 1024px) {
            height: 650px;
        }
    }

    &__text-wrapper {
        width: 100%;
        height: 400px;
        background-color: purple;

        @media (min-width: 1024px) {
            height: 650px;
        }
    }

    &__pagenumber {
        &--wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 15px;
            height: 50px;

            @media (min-width: 1024px) {
                position: absolute;
                top: 280px;
                transform: rotate(-90deg);
                left: -50px;
                //background-color: green;
                width: 200px;
            }

        }
    }
}

.pagenumber {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #362F7F;
    letter-spacing:5px;

    &__wrapper {
        display: flex;
    }

    &__circle {
      height: 4px;
      width: 4px;
      background-color: #362F7F;
      border-radius: 50%;
      display: inline-block;

      &--wrapper {
          margin: -3px 10px 0 10px;
      }

    }

    &__text {
        color: #362F7F;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 5px;
        margin: 0;
    }
}
