.intro {
    //background-color: pink;
    width: 100%;
    height: 850px;
    position: absolute;
    top: 820px;
    display: flex;
    flex-direction: column;

    @media (min-width: 500px) {
        //height: 900px;
        top: 900px;
    }

    @media (min-width: 768px) {
        //height: 900px;
        height: 1024px;
        top: 1025px;
    }

    @media (min-width: 1024px) {
        height: 650px;
        top: 650px;
        flex-direction: row;
    }

    @media (min-width: 1200px) {
        height: 700px;
        top: 700px;
    }

    &__image-wrapper {
        width: 100%;
        height: 420px;
        //background-color: red;

        @media (min-width: 768px) {
            height: 650px;
        }

        @media (min-width: 1024px) {
            position: relative;
        }
    }

    &__text-wrapper {
        width: 100%;
        height: 400px;
        background-image: url("../images/bottom_block--mobile.png");
        background-size: 550px 676px;
        background-position: -100px -15px;
        background-repeat: no-repeat;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 2;

        @media (min-width: 500px) {
            background-size: auto;
            background-image: url("../images/bottom_block--desktop.png");
            background-position: -400px -40px;
            padding-top: 50px;
        }


        @media (min-width: 768px) {
            background-size: auto;
            background-position: -280px -40px;
            padding-top: 40px;
        }

        @media (min-width: 1024px) {
            background-size: 842px 1099px;
            background-position: 5px -20px;
            background-size: cover;
            background-image: url("../images/right_block--desktop.png");
            height: 650px;
            position: relative;
        }

        @media (min-width: 1200px) {
            background-position: 5px -50px;
            height: 700px;
        }
    }

    &__content-wrapper {

      @media (min-width: 768px) {
          width: 600px;
      }

      @media (min-width: 1024px) {
          width: 500px;
          position: absolute;
          top: 53%;
          left: 55%;
          transform: translate(-50%, -50%);
      }

      @media (min-width: 1200px) {
          width: 500px;
      }
    }

    &__text, &__title {
        color: #fff;
        font-family: 'Lora', sans-serif;
    }

    &__text {
        letter-spacing: 2px;
        font-size: 15px;
        margin-top: -20px;

        @media (min-width: 768px) {
    
            font-size: 18px;
        }

    }

    &__title {
        font-weight: 700;
        font-size: 50px;
        letter-spacing: 3px;
    }

    &__pagenumber {
        &--wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 15px;
            height: 50px;

            @media (min-width: 768px) {
                position: absolute;
                top: 165px;
                transform: rotate(-90deg);
                left: -50px;
                //background-color: green;
                width: 200px;
            }

            @media (min-width: 1024px) {
                top: 290px;
            }

        }
    }

    &__frame {
        background-image: url("../images/picture--mobile.png");
        background-size: 250px 280px;
        background-repeat: no-repeat;
        width: 250px;
        height: 280px;
        //background-color: green;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;

        @media (min-width: 768px) {
            background-size: 360px 413px;
            width: 365px;
            height: 413px;
            margin-top: 100px;
        }

        @media (min-width: 1024px) {
            background-size: 365px 413px;
            background-repeat: no-repeat;
            width: 365px;
            height: 413px;
            //margin-top: 125px;
            //margin-left: 80px;
            top: 50%;
            left: 52%;
            transform: translate(-50%, -50%);
            position: absolute;
            margin: 0;
        }

        @media (min-width: 1200px) {
            background-size: 395px 443px;
            width: 395px;
            height: 443px;
            top: 54%;
        }

    }
}

.pagenumber {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #362F7F;
    letter-spacing:5px;

    @media (min-width: 768px) {
        font-size: 13px;
    }

    &__wrapper {
        display: flex;
    }

    &__circle {
      height: 4px;
      width: 4px;
      background-color: #362F7F;
      border-radius: 50%;
      display: inline-block;

      @media (min-width: 768px) {
          height: 3px;
          width: 3px;
      }

      &--wrapper {
          margin: -3px 10px 0 10px;

          @media (min-width: 768px) {
              margin: -6px 10px 0 10px;
          }

      }

    }

    &__text {
        color: #362F7F;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 5px;
        margin: 0;

        @media (min-width: 768px) {
            font-size: 13px;
        }
    }
}
