.role {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  top: 1000px;
  height: 500px;
  //background-color: black;
  display: flex;
  justify-content: center;

  @media (min-width: 1024px) {
      justify-content: flex-start;
  }

  @media (min-width: 500px) {
      //top: 1480px;
      top: 960px;
  }

  @media (min-width: 692px) {
      //top: 1500px;
  }


  @media (min-width: 768px) {
      height: 2240px;
      top: 1080px;
  }

  @media (min-width: 768px) {
      height: 1350px;
      //top: 1024px;
  }


  @media (min-width: 1024px) {
      top: 720px;
      height: 500px;
  }

  @media (min-width: 1200px) {

      //top: 700px;
      top: 600px;
  }

  &__text-wrapper {
    max-width: 350px;
    text-align: center;
    //background-color: crimson;

    @media (min-width: 768px) {
        max-width: 500px;
    }

    @media (min-width: 1024px) {
        width: 100%;
        max-width: none;
        text-align: left;

        margin-bottom: 60px;
        padding-right: 200px;
        padding-left: 60px;
        padding-top: 60px;
    }

  }

  &__text {
    //background-color: pink;
  }

}
