.role {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  top: 1000px;
  height: 500px;
  background-color: yellow;
  display: flex;
  justify-content: center;

  @media (min-width: 500px) {
      //top: 1480px;
      top: 960px;
  }

  @media (min-width: 692px) {
      //top: 1500px;
  }


  @media (min-width: 768px) {
      height: 2240px;
      //top: 2000px;
  }

  @media (min-width: 768px) {
      height: 1350px;
      //top: 1024px;
  }


  @media (min-width: 1024px) {
      height: 1350px;
    //  top: 720px;
  }

  @media (min-width: 1200px) {
      height: 700px;
      //top: 700px;
  }

  &__text-wrapper {
    max-width: 350px;
    text-align: center;
  }

}
