.role {
  width: 100%;
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  top: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: blue;

  @media (min-width: 1024px) {
      justify-content: flex-start;
  }

  @media (min-width: 500px) {
      //top: 1480px;
      top: 960px;
  }

  @media (min-width: 692px) {
      //top: 1500px;
  }


  @media (min-width: 768px) {
      height: 2240px;
      //top: 2000px;
  }

  @media (min-width: 768px) {
      height: 1350px;
      //top: 1024px;
  }


  @media (min-width: 1024px) {
      top: 720px;
      height: 500px;
  }

  @media (min-width: 1200px) {

      //top: 700px;
  }

  &__text-wrapper {
    max-width: 350px;
    text-align: center;
    background-color: crimson;

    @media (min-width: 1024px) {
        width: 100%;
        max-width: 700px;
        text-align: left;
        margin-left: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (min-width: 1024px) {
        padding-left:30px;
        padding-right: 30px;
    }
  }

}
